<!DOCTYPE html>
<html>

<head>
    <title>NYflow</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/leaflet.css">
    <link rel="stylesheet" href="/static/css/leaflet-routing-machine.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="/static/js/leaflet.js"></script>
    <script src="/static/js/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="/static/js/tsparticles.confetti.bundle.min.js"></script>
    <script type="module" src="/static/js/main.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
</head>

<body>
    <div id="map-view"></div>
    <div class="title-container"> <img src="/static/img/logo.webp" class="title-logo" alt="Logo" />
        <span class="title-text">NyFlow</span>
        <span class="layer-title-text"></span>
    </div>
    </div>
    <theme-btn></theme-btn>
    <bottom-drawer title="Layers">
        <layer-selector selected="neighbourhoods">
            <button layer="neighbourhoods" column="Overview">Neighbourhoods</button>
            <button layer="trivia" column="Overview">Zone Trivia</button>

            <button layer="routes" column="Routing Algorithms">Optimal Routes</button>
            <button layer="restaurant_ratings" column="External datasets">Restaurant ratings</button>
            <button layer="asking_rent" column="External datasets">Asking Rent</button>
            <button layer="house_income" column="External datasets">House Income</button>
            <button layer="landmarks" column="External datasets">Landmarks</button>
            <button layer="demand_hourly" column="Demand Analysis">Demand Hourly</button>

            <button layer="total_price" column="Agg data from TLC"></button>
            <button layer="total_tip" column="Agg data from TLC"></button>

            <button layer="total_trips" column="Agg data from TLC"></button>
            <button layer="mean_price" column="Agg data from TLC"></button>
            <button layer="mean_tip" column="Agg data from TLC"></button>

            <button layer="mean_duration" column="Agg data from TLC"></button>
            <button layer="mean_price_time" column="Agg data from TLC"></button>
            <button layer="mean_tip_time" column="Agg data from TLC"></button>

            <button layer="mean_distance" column="Agg data from TLC"></button>
            <button layer="mean_price_dis" column="Agg data from TLC"></button>
            <button layer="mean_tip_dis" column="Agg data from TLC"></button>
        </layer-selector>
    </bottom-drawer>

</body>

</html>